name: Run Tests

on:
  push:
    branches: [ main ]

jobs:
  test-dotnet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: |
          dotnet restore dotnet-app/ProjectFile.csproj
          dotnet restore dotnet-app.Tests/ProjectFile-Tests.csproj
      
      - name: Run .NET tests
        run: dotnet test dotnet-app.Tests/ProjectFile-Tests.csproj --logger "console;verbosity=detailed" --logger "trx;LogFileName=TestResults.trx"
     
      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-test-report
          path: dotnet-app.Tests/TestResults/TestResults.trx

  test-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies and run tests
        run: |
          cd python-app
          python -m unittest